/* Write your code here. */

.result-container {
  height: 60%;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ffffff33;
  border-style: solid;
  border-radius: 10px;
  padding: 10px;
}

.initial-container {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.result-text {
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: bold;
  text-align: center;
}

.best-score-text {
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: bold;
  text-align: center;
}

.score-text {
  color: #6a59ff;
  font-family: 'Roboto';
  font-weight: bold;
  text-align: center;
}

.button-styling {
  background-color: #ffce27;
  color: #3d3d3d;
  border-radius: 10px;
  font-family: 'Roboto';
  cursor: pointer;
  outline: no;
  border: none;
}

.img-styling {
  height: 80%;
  width: 30vw;
}
